
@{
    ViewData["Title"] = "Index";
}

<h1>Personal Study</h1>


<p>En esta sección se muestran algunas ejercicios sobre temas que debo repasar o mejorar. Haga clic en cada una para ver los ejercicios que realicé</p>
<ul class="list-group">
    <li class="list-group-item active">Javascript</li>
    <li class="list-group-item">  <a class="nav-link text-dark" asp-area="" asp-controller="PersonalStudy" asp-action="Map">Función map</a></li>
    <li class="list-group-item"><a class="nav-link text-dark" asp-area="" asp-controller="PersonalStudy" asp-action="Closure">Closure</a></li>
    @*<li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>*@
</ul>