@{
    ViewData["Title"] = "Euro";
}
<head>

</head>
<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenido</h1>
        <p> Un peso argentino (ARS) es igual a</p>
        <h2>@ViewData["precio"] </h2>
        <h2> Euro(s) (@ViewData["moneda"]) </h2>
        <hr class="my-4">
        <p>Para ver la url del servicio haga clic en botón de abajo</p>
        <a href=@ViewData["url"] tabindex="0" class="btn-sm btn-info" role="button" data-toggle="popover" data-trigger="focus" title="Abrir url del servicio"
           data-content="Haga clic aquí para ver en otra pestaña servicio" target="right"> Url del servicio</a>
    </div>
</div>
