@{
    ViewData["Title"] = "Home Page";
 }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p> Un peso argentino (ARS) es igual a</p>
        <h2>@ViewData["precio"] </h2>

        <h2>@ViewData["moneda"] </h2>
        <p> Pesos colombianos </a>.</p>
    </div>
